.appList {
	flex: 1;
	padding: 3px;
	margin: 0;
	background-color: var(--grayPrimary);
	list-style: none;
	color: var(--black);
}

.floating {
	composes: outset from '@/app/page.module.css';
	position: absolute;
	display: none;
	top: -5px; /* padding plus border */
	left: 100%;
}

.appListItem {
	position: relative;
	display: flex;
	align-items: center;
	padding: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.appListItem img {
	height: 30px;
	pointer-events: none;
}

.appName {
	flex: 1;
	margin-left: 10px;
}

.appListItem:hover {
	background-color: var(--bluePrimary);
	color: var(--white);
}

.appListItem:hover > .appList.floating {
	display: block;
}
