.wrapper {
	position: relative;
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
}

.startButton {
	composes: outset from '@/app/page.module.css';

	height: 100%;
	padding: 3px;
	box-sizing: border-box;
	font-family: wendy;
	font-size: 1rem;
	cursor: pointer;
	white-space: nowrap;
}

.active {
	composes: inset from '@/app/page.module.css';
}

.startButton img {
	height: 100%;
	width: auto;
	margin-right: 8px;
	vertical-align: middle;
	pointer-events: none;
}
