.headshot {
	width: 150px;
	height: auto;
	float: left;
	margin-right: 10px;
}

.paragraph {
	margin-top: 0;
}

.appLink, .appLink:active, .appLink:focus {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-family: perfect-dos;
	font-size: 1em;
	color: var(--blueLink); 
	text-decoration: underline dotted;
}
