.taskbar {
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	height: var(--taskbarHeight);
	padding: 3px;
	background-color: var(--grayPrimary);
	border-top: 2px solid var(--white);
	box-sizing: border-box;
	font-size: 0.6rem;
}

.taskbarApps {
	display: flex;
	flex: 1;
	min-width: 0;
	padding: 0 3px;
}

.taskbarApp {
	composes: outset from '@/app/page.module.css';
	flex: 1;
	box-sizing: border-box;
	min-width: 0;
	max-width: 200px;
	height: 100%;
	margin-right: 3px;
	font-family: wendy;
	font-size: 1rem;
	vertical-align: bottom;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.taskbarApp:last-child {
	margin: 0;
}

.taskbarApp:hover:not(.focused) {
	cursor: pointer;
}

.focused {
	composes: inset from '@/app/page.module.css';
	background-color: var(--grayLight);
}

.taskbarApp img {
	height: 1rem;
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
}
