.project {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.description {
	padding: 8px;
	font-size: 0.75rem;
}

.content {
	flex: 1;
	display: flex;
	position: relative;
	margin-top: 2px;
}

.frame {
	composes: inset from '@/app/page.module.css';
	flex: 1;
}

.contentMask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
