.titleButtons {
	display: flex;
	padding: 3px;
}

.minimize, .maximize, .close {
	width: 1.2rem;
	height: 1.2rem;
	padding: 2px;
	border-width: 1px;
	background-color: var(--grayPrimary);
}

.close {
	margin-left: 2px;
}

.minimize img, .maximize img, .close img {
	height: 100%;
	width: auto;
	pointer-events: none;
}

@media only screen and (max-width: 600px) {
	.minimize, .maximize {
		display: none;
	}

	.close {
		width: 1.5rem;
		height: 1.5rem;
	}
}
