.window {
	composes: outset from '@/app/page.module.css';
	display: flex;
	flex-direction: column;
	background-color: var(--grayPrimary);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	margin: 2px;
	background-color: var(--grayInset);
	color: var(--grayPrimary);
	user-select: none;
}

.header.focused {
	background: linear-gradient(90deg, var(--pink), var(--mint) 105%);
	color: var(--pinkDark);
}

.content {
	position: relative;
	display: flex;
	flex: 1;
	overflow: auto;
	margin: 0 2px 2px 2px;
}

.disableSelect {
	user-select: none;
}

.footer {
	padding: 2px;
}

@media only screen and (max-width: 600px) {
	.header {
		font-size: 1.5rem;
	}

	.titleIcon {
		height: 1.5rem;
	}

	.footer {
		display: none;
	}
}
