.windowMover {
	position: absolute;
	transform-origin: top left;
}

.hideContent {
	display: none;
}

.maximized {
	transition: 0.1s ease-out;
}

.focused {
	z-index: 500;
}

@media only screen and (max-width: 600px) {
	.windowMover {
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
}
